body {
    background-color:  #B5EAD7
}
.complimentheading {
    font-family: 'Wix Madefor Display', sans-serif;
    text-align: center;
}
.buttonStyle {
    background-color: #8ABFA8;
    font-family: 'Wix Madefor Display', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    border-radius: 10px;
}
.buttonStyle:hover {
    cursor: pointer;
    opacity: 0.4;
}

.buttonStyle:active {
  margin-right: 2px;
}
.lineBruh {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
}
